<div
  class="content-card"
  (click)="onClick()"
  [style.border]="isFirst ? '2px solid black' : '1px solid black'"
>
  <header>{{ title }}</header>
  <img *ngIf="image" [src]="image" alt="Content Image" />
  <p *ngIf="description">{{ description }}</p>
  <p *ngIf="creator">{{ creator }}</p>
  <p *ngIf="type">{{ type }}</p>
  <div *ngIf="tags.length > 0">
    <p>Tags:</p>
    <ul>
      <li *ngFor="let tag of tags">{{ tag }}</li>
    </ul>
  </div>
</div>

<div
  class="content-card"
  (click)="onClick()"
  [style.border]="isFirst ? '2px solid black' : '1px solid black'"
>
  <header>{{ title }}</header>
  <img *ngIf="image" [src]="image" alt="Content Image" />
  <p *ngIf="description">{{ description }}</p>
  <p *ngIf="creator">{{ creator }}</p>
  <p *ngIf="type">{{ type }}</p>
  <div *ngIf="tags.length > 0">
    <p>Tags:</p>
    <ul>
      <li *ngFor="let tag of tags">{{ tag }}</li>
    </ul>
  </div>
</div>
