<!-- <section *ngFor="let contentItem of contentList.getContentArray; let i = index">
    <div [innerHTML]="contentList.outputHtmlContent(i)"></div>
</section> -->
<div
  [style.border]="content.id === 1 ? '2px solid black' : '1px solid red'"
  [style.padding]="'20px'"
  [style.margin]="'10px'"
>
  <div class="card">
    <header>{{ content.title }}</header>
    <img
      class="img"
      *ngIf="content.imageUrl; else defaultImage"
      [src]="content.imageUrl"
      (click)="showDetails()"
    />

    <img [src]="content.imageUrl" (click)="showDetails()" />
    <ng-template #defaultImage>
      <img class="default-img" src="*" (click)="showDetails()" />
    </ng-template>

    <p>Description: {{ content.description }}</p>

    <p>Creator: {{ content.creator }}</p>

    <!-- <p>Type: {{ content.type }}</p> -->

    <p appHoverAffect typeStyle="textDecoration">Type: {{ content.type }}</p>

    <!-- <div *ngFor="let tag of content.tags">- {{ tag }}</div> -->
    <div>
      Tags:
      <div
        class="list"
        *ngFor="let tag of content.tags"
        appHoverAffect
        tagStyle="fontWeight"
      >
        {{ tag }}
      </div>
    </div>
  </div>
</div>
