<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Welcome to {{ title }}!</h1>
      <div>
        <app-search></app-search>
      </div>

      <app-content-list></app-content-list>
      <div *ngFor="let type of type">
        <h2>{{ type }}</h2>

        <div
          class="content-card"
          [ngClass]="{
            green: type === 'fictional detective',
            red: type === 'fictional detective2'
          }"
        ></div>
      </div>
    </div>

    <app-content-card [ngStyle]="{ padding: '5px' }">
      <app-content-list-header [ngStyle]="{ 'background-color': 'green' }">
        <app-content-list [ngStyle]="{ 'font-size': '16px', color: 'blue' }"
          >Title</app-content-list
        >
        <app-content-list-subtitle
          [ngStyle]="{ 'font-size': '12px', color: 'blue' }"
          >Subtitle</app-content-list-subtitle
        >
      </app-content-list-header>
    </app-content-card>
  </div>
</main>
