<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Welcome to {{ title }}!</h1>
      <app-content-list></app-content-list>
      <app-message></app-message> -->
<!-- <app-content-card [content]></app-content-card> -->

    </div>
  </div>
</main> 
<h1>Welcome to {{ title }}</h1>
<app-messages></app-messages>
<div class="card" [style.box-shadow]="customContent ? '0 10px 12px black' : 'none'">
    <!-- Single ContentCard -->
     <app-content-card *ngIf="customContent" id="custom-card" [content]="customContent"></app-content-card>
</div>
<app-content-list></app-content-list>  