<p>content-list works!</p>
<div *ngFor="let content of contents; let first = first; let i = index">
  <div class="content-card" (click)="(['displayContentDetails'])">
    <img *ngIf="content.image" [src]="content.image" alt="Content Image" />
    <div>
      <h2>{{ content.title }}</h2>
      <p *ngIf="content.description">{{ content.description }}</p>
      <p *ngIf="content.creator">Creator: {{ content.creator }}</p>
      <p *ngIf="content.type">Type: {{ content.type }}</p>
      <p *ngIf="content.tags && content.tags.length">
        Tags: {{ content.tags.join(", ") }}
      </p>
    </div>
  </div>
</div>
<!-- <div>
  type="text" [(ngModel)]="searchTitle" placeholder="Enter title" />
  <button (click)="searchContent()">Search</button>
  [ngStyle]="color: searchResult ? 'green' : 'red' ">
  {{ searchResult ? "Content exists" : "Content not found" }}
</div> -->
<div *ngFor="let content of contents | contentTypeFilterPipe : 'type'">
  <div
    [ngClass]="{ highlighted: highlightedContentIndex === i }"
    *ngFor="let content of contents; let i = index"
  >
    <div
      class="content-card"
      [ngClass]="{
        type1: content.type === 'type1',
        type2: content.type === 'type2'
      }"
    >
      {{ content.title }}
    </div>
  </div>
</div>
